body{
    background-color: black;
    color: white;
}
#score{
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
}
#timer{
    font-weight: bold;
    float:right
}
h3{
    font-style: italic;
}